@inherits MetasListComponentBase

<div class="card">
    <div class="card-header">
        <a href="#" class="btn btn-primary"> <span class="oi oi-plus" aria-hidden="true"></span> Nueva Tarea</a>
    </div>
    <ul class="list-group list-group-flush pt-2">
        @if (metas == null)
        {
            <li class="list-group-item text-center">Cargando...</li>
        }
        else
        {
            if (!metas.Any())
            {
                <li class="list-group-item text-center">No se encontraron registros</li>
            }
            foreach (var meta in metas)
            {
                <li class="list-group-item mt-1 mb-1">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">@meta.Nombre</h5>
                        </div>
                        <div>
                            <a href="#" class="btn btn-primary"> <span class="oi oi-pen" aria-hidden="true"></span></a>
                            <a href="#" class="btn btn-primary"> <span class="oi oi-trash" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Fecha creada: @meta.FechaCreacion.Date.ToString("dd/MM/yyyy")</h6>
                    <br>
                    <div class="d-flex justify-content-between">
                        <div>Tareas completadas: @meta.TareasCompletadas/@meta.TotalTareas</div>
                        <div>@meta.Porcentaje</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style=@("width: " + meta.Porcentaje)></div>
                    </div>
                </li>
            }
        }
    </ul>
</div>